<h3>What is your weight? How long you been boozin? How much have ya had?!</h3>
<form action="/" method="post">
  <input type="text" name="weight">
  <input type="text" name="time">
  <input type="text" name="drinks">
  <input type="submit">
  
</form>